input {
    width: 300px;
    height: 70px;
    text-align: center;
    border-radius: 8px;
}

.div1{
    display: grid;
    gap: 6vh;
    justify-content: center;
    align-items: center;
}

.satauri {
    text-decoration: underline;
    text-decoration-color: red;
}

.success-msg {
  color: green;
  margin-top: 10px;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

.reg {
  text-decoration: underline;
}